@import url("/assets/css/nav-footer.css");


#indhold{
  background-image: url("/assets/img/forside-kontakt-Background.jpg");
  background-position: right;
  z-index: 1;
}

#indhold .woman{
  position: absolute;
  z-index: 0;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -99.9%);

}

#indhold h2,#indhold h3,#indhold p{
  font-family: 'Gill Sans', sans-serif;
  font-weight: 400;
  line-height: 35px;
}#indhold h3{
  color: var(--dark-orange);
}#indhold h1{
  font-size: 60px;
  text-align: center;
  line-height: 74px;
  margin-bottom: 60px;
}

.container{
  padding: 45px 30px;
  display: flex;
  flex-direction: column;
}

.container .doner{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .doner article{
  text-align: center;
  max-width: 370px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0 30px;
}

.container .program{
  columns: 2;
}
.container .program .btn{
  margin-top: 23px;
}

.container img{
  border-radius: 29px;
  width: 424px;
}